{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ asset('delfood-1.0.0/images/r1.jpg') }}" class="img-fluid rounded mx-auto d-block" alt="{{ recipe.name }}">
                <h1 class="my-4 text-center">{{ recipe.name }}</h1>
            </div>
        </div>

        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipe.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ recipe.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recipe.decription }}</td>
            </tr>
            <tr>
                <th>Cuisine</th>
                <td>{{ recipe.cuisine }}</td>
            </tr>
            </tbody>
        </table>

        <h2 class="my-4">Ingredients</h2>
        <ul>
            {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient.name }}</li>
            {% endfor %}
        </ul>

        <a href="{{ path('app_main') }}" class="btn btn-primary">Back</a>
    </div>
{% endblock %}